@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

:root {
  --purple-reacteur: #7359dc;
  --purple-opacity: rgba(115, 89, 220, 0.8);
  --bg-grey: #e5e5e5;
  --grey: #c4c4c4;
  --white: #fff;
}

body {
  background-color: var(--purple-reacteur);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  background-color: var(--bg-grey);
  height: 80vh;
  width: 30vw;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  border-radius: 10px;
  padding: 50px;
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input,
textarea {
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
  font-size: inherit;
  padding: 5px 10px;
  font-family: inherit;
  font-weight: inherit;
  border: 1px var(--grey) solid;
  border-radius: 4px;
}

textarea {
  height: 130px;
  padding: 10px 10px;
}

input::placeholder,
textarea::placeholder {
  color: var(--grey);
}

button {
  background-color: var(--purple-reacteur);
  cursor: pointer;
  color: var(--white);
  height: 40px;
  font-size: 18px;
  border: none;
  width: 100%;
  border-radius: 4px;
  font-family: inherit;
  font-weight: inherit;
}

button:hover {
  background-color: var(--purple-opacity);
}

.disabled-btn {
  background-color: var(--grey);
  color: var(--purple-reacteur);
}

.disabled-btn:hover {
  background-color: var(--grey);
  color: var(--purple-reacteur);
}
